.home-content {
    display: flex;
    width: 70%;
}

.text {
    width: 100%;
    padding: 3rem;
    text-align: left;
}

.intro-text {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.main-text {
    padding-left: 2rem;
    font-size: 40px;
    font-family: NeonTubes2, serif;
    color: #F2D657;
}



.team_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.team_members {
    margin: 50px 0;
    display: flex;
    flex-flow: column;
}

.member-intro {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

.member-intro > p {
    font-size: 20px;
    color: #747474;
    width: 350px;
    margin: 85px 70px;
}

.member {
    display: flex;
    margin: 50px 80px;
}

.profile {
    display: flex;
    width: 20vw;
    height: 20vw;
    box-shadow: 0 6px 20px rgba(153, 137, 108, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(153, 137, 108, 0.17));
    filter: drop-shadow(0 6px 20px rgba(153, 137, 108, 0.17));
    border-radius: 10px;
    overflow: hidden;
}

.pic-wrap {
    position: relative;
    width: 100%;
}

.pic {
    position: absolute;
    top: 0;
    width: 180%;
    transform: translate(-45%, -10%);
}