.about {
    width: 70%;
}

.intro-text {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.5;
    text-align: center;
    margin-block: 5rem;
}

.main-heading {
    font-size: 37px;
    font-family: NeonTubes2, serif;
    color: rgb(40, 181, 228);
    text-align: center;
}



.team_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.team_members {
    transform: translateY(-5%);
    margin: 50px 0;
    display: flex;
    flex-flow: column;
}

.member-intro {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}

.info {
    font-size: 20px;
    width: 350px;
    margin: 85px 70px;
    text-align: center;
}

.info > h2 {
    font-family: NeonTubes2, serif;
    font-size: 25px;
    color: #F2D657;
}

.info > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #afb1b6;
    line-height: 2;
}

.member {
    display: flex;
    margin: 50px 80px;
}

.profile {
    display: flex;
    width: 20vw;
    height: 20vw;
    box-shadow: 0 6px 20px rgba(153, 137, 108, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(153, 137, 108, 0.17));
    filter: drop-shadow(0 6px 20px rgba(153, 137, 108, 0.17));
    border-radius: 10px;
    overflow: hidden;
}

.pic-wrap {
    position: relative;
    width: 100%;
}

.pic {
    position: absolute;
    top: 0;
    width: 180%;
    transform: translate(-45%, -10%);
}