.home-content {
    display: flex;
    width: 70%;
}

.text {
    /* background: blue; */
    width: 100%;
    padding: 3rem;
    text-align: left;
}

.intro-text {
    color: #F2D657;
}

.main-text {
    /* width: 100%; */
    padding-left: 2rem;
    font-size: 50px;
    font-family: NeonTubes2, serif;
    color: white;
}

.try {
    padding-left: 2rem;
    text-decoration: none;
    color: #F2D657;
}

.mics {
    max-width: 300px;
    height: 280px;
    margin-top: 2rem;
}