.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

input {
    outline: none;
    margin-top: 2rem;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    padding-inline: 15px;
    font-size: 16px;
    color: rgb(100, 201, 235);
    background-color: rgb(53, 57, 66);
}

.scroll {
    position: relative;
    box-shadow: 0 0 8px 2px #737485;
    border-radius: 20px;
    padding: 2rem;
    width: 28rem;
    height: 300px;
    overflow: hidden;
    text-align: center;
    pointer-events: all;

    font-size: 20px;
    margin-block: 2rem;
}

.scroll:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, 
                        rgba(31, 32, 34, 0), 
                        rgba(31, 32, 34, .9));
    width: 100%;
    height: 5em;
}

.lyrics-container {
    height: 100%;
    overflow: scroll;
    margin: 0;
}

.lyrics {
    margin-inline: 2rem;
    line-height: 2;
    white-space: pre-line;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.lyrics-blurred {
    margin-inline: 2rem;
    line-height: 2;
    white-space: pre-line;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    filter: blur(4px);
}

.not-started {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
}

.started {
    display: none;
}

.countdown {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 46%;
    font-size: 70px;
    font-family: NeonTubes2, serif;
    color: #F2D657;
    text-shadow: 0px 0px 5px #F2D657;
}

.no-countdown {
    display: none;
}

.restart {
    width: 2rem;
    margin-top: -3rem;
    margin-bottom: 6rem;
}

.sidebar-container {
    width: 90rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-sidebar, .right-sidebar {
    width: 30%;
    transform: translateY(-30%);
    font-family: NeonTubes2, serif;
    font-size: 18px;
}

.leaderboard {
    width: 40px;
    height: 20px;
    transform: rotate(-90deg);
}

.progress-bar {
    appearance: none;
    width: 250px;
    height: 70px;
    transform: rotate(-90deg);
    margin-top: 8rem;
}

@-webkit-keyframes animate-stripes {
    100% { background-position: -100px 0px; }
 }
 
 @keyframes animate-stripes {
    100% { background-position: -100px 0px; }
 }

progress::-webkit-progress-value {
    background: rgb(40, 181, 228);
    -webkit-animation: animate-stripes 5s linear infinite;
    animation: animate-stripes 5s linear infinite;
}

.score {
    background-color: rgb(55, 59, 70);
    width: 110px;
    height: 140px;
    border-radius: 20px;
    transform: translate(145%, 85%);
    padding-top: 4px;
    border-radius: 20px;
}