.App {
  text-align: center;
}

.App-header {
  background-color: #1F2022;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

del{
  color: red;
  text-decoration: line-through;
}

ins{
  color: red;
  text-decoration: underline;
}